.search-section {
    position: relative;
    margin-top: -300px; 
    z-index: 10; /* Higher z-index to be on top */
    padding: 20px;
}

.add-cards {
    position: relative;
    margin-top: -100px; /* Adjusted margin to position it below */
    z-index: 0; /* Lower z-index to place it below .overlapp */
}

/* search in diffent pages */
.searchSection {
    position: relative;
    margin-top: -80px; 
    z-index: 10; /* Higher z-index to be on top */
    padding: 20px;
}